In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv', error_bad_lines=False)

In [4]:
df

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [9]:
a = [2,3,4]
b = [2,3,4]
B = a.extend(b)

In [10]:
B

In [12]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [16]:
C = A.append(B)

In [17]:
print(C)

None

In [28]:
df_fuel_type = df.groupby('fuel_type_code_pudl')['fuel_type_code_pudl']

In [33]:
df_fuel_dummy = pd.get_dummies(df['fuel_type_code_pudl'])

In [34]:
df_fuel_dummy.describe()

               coal           gas  ...         other         waste
count  29523.000000  29523.000000  ...  29523.000000  29523.000000
mean       0.289503      0.389053  ...      0.005657      0.014938
std        0.453539      0.487544  ...      0.074999      0.121305
min        0.000000      0.000000  ...      0.000000      0.000000
25%        0.000000      0.000000  ...      0.000000      0.000000
50%        0.000000      0.000000  ...      0.000000      0.000000
75%        1.000000      1.000000  ...      0.000000      0.000000
max        1.000000      1.000000  ...      1.000000      1.000000

[8 rows x 6 columns]

In [35]:
df_fuel_dummy

       coal  gas  nuclear  oil  other  waste
0         1    0        0    0      0      0
1         1    0        0    0      0      0
2         1    0        0    0      0      0
3         1    0        0    0      0      0
4         0    1        0    0      0      0
...     ...  ...      ...  ...    ...    ...
29518     0    1        0    0      0      0
29519     0    1        0    0      0      0
29520     0    1        0    0      0      0
29521     1    0        0    0      0      0
29522     0    1        0    0      0      0

[29523 rows x 6 columns]

In [36]:
set(df['fuel_type_code_pudl'])

{'coal', 'gas', 'nuclear', 'oil', 'other', 'waste'}

In [41]:
std_fuel_mbb, percentile_75 = df['fuel_mmbtu_per_unit'].std(), np.percentile(np.array(df['fuel_mmbtu_per_unit']),75)

In [46]:
round(std_fuel_mbb,2), round(percentile_75, 2)

(10.6, 17.01)

In [43]:
skewness, kurtosis = df['fuel_qty_burned'].skew(), df['fuel_qty_burned'].kurtosis()

In [45]:
round(skewness, 2), round(kurtosis, 2)

(15.85, 651.37)

In [48]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [50]:
percent_of_missing_rows = (df['fuel_unit'].isnull().sum()/len(df.index))*100

In [54]:
round(percent_of_missing_rows, 3)

0.61

In [55]:
df.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [73]:
corr_data = df.corr().iloc[4,:]

In [71]:
corr_data = pd.DataFrame(corr_data, columns=corr_data.index)

In [74]:
corr_data

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

In [ ]:
df.groupby('')